$color-main: #1d2f36;
$color-secondary: #45585f;
$color-third: #9e9885;
$color-main-light: #f5da92;

$color-light: #fafbff;
$color-gray: #a0a0a0;
$color-dark-gray: #383838;

$color-bg-light: #708a94;
$color-bg-dark: #162227;

$radius-main: 0.4rem;
$radius-main-round: 3.4rem;

$btn-padding: 1rem 2rem;

$max-width: 100rem;
$max-width-content: 60rem;

$shadow-element: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
